<%= bootstrap_form_for(staff) do |form| %>


    <div class="row">
      <div class="col">
        <%= form.text_field :staff_code, value: @staff_code, readonly: true %>
      </div>
      <div class="col">
        <%= form.collection_select :branch_id, Branch.all, :id, :name %>
      </div>
      <div class="col">
        <%= form.select :status, [["Working", 1], ["Retire", 0]] %>
      </div>
      <div class="col">
        <%= form.select :position, [["Genaral", "Genaral"], ["Trainer", "Trainer"],["Admin", "Admin"] ] %>
      </div>
    </div>

    <%= form.fields_for :user do |f| %>

    <div class="row">
      <div class="col">
        <%= f.text_field :firstname %>
      </div>
      <div class="col">
        <%= f.text_field :lastname %>
      </div>
      <div class="col">
       <%= f.text_field :phone, max: 10 %>
      </div>
    </div>

      <%= f.hidden_field :role, value: 'staff' %>
    <% end %>



    <%= form.submit nil, class: "btn btn-info btn-block" %>
  </div>
<% end %>
