<%= bootstrap_form_for(staff) do |form| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :position, id: :staff_position %>
    <%= form.text_field :staff_id, id: :staff_staff_id %>

    <%= form.fields_for :user do |f| %>
      <%= f.text_field :firstname %>
      <%= f.text_field :lastname %>
      <%= f.text_field :phone %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
    <% end %>


    <%= form.submit %>
  </div>
<% end %>
