<%= bootstrap_form_for(nontrainer_package) do |f| %>

  <%= f.fields_for :package do |ff| %>
    <%= ff.text_field :name %>
    <%= ff.text_field :price %>
  <% end %>

  <%= f.number_field :freeze_time %>

  <div class="col text-center">
  	<%= f.submit %>
  </div>


<% end %>
