<%= bootstrap_form_for(announcement) do |form| %>

    <div class="row">
      <div class="col-6">
        <%= form.text_field :title%>
      </div>
      <div class="col-6">
        <%= form.date_field :date, min: Date.today %>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <%= form.text_area :des %>
      </div>
      <div class="col-4 cell-center">
        <%= form.submit nil, class: "btn btn-info btn-block" %>
      </div>
    </div>


<% end %>
