<%= bootstrap_form_for(announcement) do |form| %>
  <% if announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% announcement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.text_field :title, id: :announcement_title %>
    <%= form.text_area :des, id: :announcement_des %>
    <%= form.date_select :date, id: :announcement_date %>
    <%= form.submit %>

<% end %>
