<p id="notice"><%= notice %></p>

<h1>Announcements</h1>
<%= link_to 'New Announcement', new_announcement_path %>

<table  data-toggle="table"
        data-pagination="true"
        data-pagination-loop ="false">
  <thead>
    <tr>
      <th>Title</th>
      <th>Des</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.title %></td>
        <td><%= announcement.des %></td>
        <td><%= announcement.date %></td>
        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

