<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>

<p>
  <strong>Des:</strong>
  <%= @announcement.des %>
</p>

<p>
  <strong>Date:</strong>
  <%= @announcement.date %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
