<style>
  body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
  }
</style>


<% flash.each do |name, msg| %>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%= name %>! </strong> <%= msg %>
    </div>

<% end %>



<br><br><br><br><br>

    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="<%= image_url('logo.png') %>" />
        <p id="profile-name" class="profile-name-card"></p>

        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>

            <span id="reauth-email" class="reauth-email"></span>

            <%= f.email_field :email, autofocus: true, hide_label: true, placeholder: "Email Address" %>

            <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "Password" %>


            <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block btn-signin" %>


        <% end %>
    </div><!-- /card-container -->



