<p id="notice"><%= notice %></p>

<p>
  <strong>Checkin time:</strong>
  <%= @serf.checkin_time %>
</p>

<p>
  <strong>Checkout time:</strong>
  <%= @serf.checkout_time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @serf.date %>
</p>

<%= link_to 'Edit', edit_serf_path(@serf) %> |
<%= link_to 'Back', serves_path %>
