<%= bootstrap_form_for(booking) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :member_id, Member.select(:id, :member_code), :id, :member_code %>
  <%= form.collection_select :staff_id, Staff.select(:id, :staff_code), :id, :staff_code %>
  <%= form.date_select :date %>
  <%= form.time_field :time %>
  <%= form.submit %>

<% end %>
