<%= bootstrap_form_for(booking) do |form| %>

  <div class="row">
    <div class="col-6">
     <%= form.collection_select :member_id, Member.all, :id, :codeAndFullname, prompt: true %>
    </div>
    <div class="col-6">
      <%= form.collection_select :staff_id, Staff.all, :id, :codeAndFullname, prompt: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= form.date_field :date, min: Date.today %>
    </div>
    <div class="col-6">
      <%= form.time_field :time %>
    </div>
  </div>

  <%= form.submit nil, class: "btn btn-info btn-block" %>

<% end %>
