<% if current_user.role == "staff" %>
  <a class="d-block p-5 text-center text-white bg-primary b4b full-width">BOOKING MENU</a>
<% else %>
  <a class="d-block p-5 text-center text-white bg-secondary b4b full-width">BOOKING MENU</a>
<% end %>

<br><br>

<div class="row">
  <div class="col-md-6">
    <h1>Bookings</h1>
  </div>
  <div class="col-md-6 text-right">
    <% if current_user.role=="staff" %>
      <%= link_to 'New Booking', new_booking_path, class: 'btn btn-info new', :"data-turbolinks" => false %>
    <% end %>
    <% if current_user.role=="member" %>
      <h3>Balance Session: <%= @balance_session %></h3>
    <% end %>
  </div>
</div>

<br><br>

<table  data-toggle="table"
        data-pagination="true"
        >
  <thead>
    <tr>
      <th>Member</th>
      <th>Trainer</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th data-width="100px"></th>
      <th data-width="100px"></th>
      <th data-width="100px"></th>

    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.member.user.firstname %></td>
        <td><%= booking.staff.user.firstname %></td>
        <td><%= booking.start_datetime.strftime("%a %d/%m/%Y | %H:%M")  %></td>
        <td><%= booking.end_datetime.strftime("%a %d/%m/%Y | %H:%M") %></td>

        <% if current_user.role=="staff" %>
          <td><%= link_to 'Edit', edit_booking_path(booking), class: 'btn btn-warning btn-block', :"data-turbolinks" => false %></td>
          <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
        <% end %>

        <% if current_user.role=="member" and booking.status==1 %>
          <td><%= link_to 'Confirm', bookings_confirm_path(:member_id => booking.member.id, :id => booking.id), method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-block" %></td>
        <% end %>

        <% if booking.status!=1 %>
          <td><%= link_to 'OK', bookings_confirm_path(:member_id => booking.member.id, :id => booking.id), method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-block disabled" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
