<br>

<%= bootstrap_form_tag url: '/report', :html => { :id => 'receipt_form' } do |f| %>

	<div class="row">
		<div class="col-4">
  		<%= f.date_field :start_date %>
		</div>
		<div class="col-4">
  		<%= f.date_field :end_date %>
		</div>
		<div class="col-4 cell-center">
  		<%= f.submit "View Receipts Report", class: "btn  btn-dark btn-block " %>
		</div>
	</div>

<% end %>

<hr>


<% if @receipts != nil and @receiptReport == 1 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Message: </strong> ไม่พบข้อมูลในช่วงเวลาดังกล่าว
  </div>
<% end %>

<table  data-toggle="table"
        data-pagination="true"
        data-pagination-pre-text="Previous"
        data-pagination-next-text="Next" >
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% total = 0 %>
  
 		<% if @receipts %>
	    <% @receipts.each do |r|%>

        <tr>
          <td><%= r.date %></td>
          <td><%= r.des %></td>
          <td><%= number_to_currency(r.price, unit: "฿") %></td>
        </tr>
        
      <% total = total + r.price.to_f %>
	    <% end %>
    <% end %>

    <% if total != 0 %>
      <tr>
        <td></td>
        <td><h5>Total: </h5></td>
        <td><h5><%= number_to_currency(total, unit: "฿") %></h5></td>
      </tr>
    <% end %>

  </tbody>
</table>