<br>

<%= bootstrap_form_tag url: '/report', :html => { :id => 'serve_form' } do |f| %>

  <div class="row">
    <div class="col-8">
      <%= f.collection_select :member_id, Member.select(:id, :member_code), :id, :member_code, prompt: true %>
    </div>
    <div class="col-4 cell-center">
      <%= f.submit "View Serve Report", class: "btn btn-block" %>
    </div>
  </div>
<% end %>

<hr>

<table  data-toggle="table"
        data-pagination="true"
        >
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Date</th>
      <th>Checkin Time</th>
      <th>Checkout Time</th>
    </tr>
  </thead>

  <tbody>
  
 		<% if @serves %>
	    <% @serves.each do |serve|%>
	      <tr>
	        <td><%= serve.member.user.firstname %></td>
	        <td><%= serve.date %></td>
	        <td><%= serve.checkin_time %></td>
	        <td><%= serve.checkout_time %></td>
	      </tr>
	    <% end %>
    <% end %>

  </tbody>
</table>