<%= bootstrap_form_for(trainer_package) do |f| %>

  <%= f.fields_for :package do |ff| %>
    <%= ff.text_field :name %>
    <%= ff.text_field :price %>
  <% end %>

  <%= f.number_field :session %>
  <%= f.number_field :quata %>


  <div class="col text-center">
  	<%= f.submit %>
  </div>


<% end %>
