<%= bootstrap_form_for(receipt) do |form| %>

  <div class="row">
    <div class="col">
      <%= form.collection_select :member_id, Member.all, :id, :codeAndFullname %>
    </div>
    <div class="col">
      <%= form.date_field :date, min: Date.today %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= form.text_field :des, label: 'Description' %>
    </div>
    <div class="col-4 cell-center">
      <%= form.submit nil, class: "btn btn-block" %>
    </div>
  </div>

  <%= form.hidden_field :staff_id, value: current_user.staff.id %>

<% end %>
