<%= bootstrap_form_for(receipt) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :nontrainer_package_id, NontrainerPackage.select(:id, :name), :id, :name, prompt: true %>
  <%= form.collection_select :trainer_package_id, TrainerPackage.select(:id, :name), :id, :name, prompt: true %>
  <%= form.date_select :date %>
  <%= form.hidden_field :staff_id, value: current_user.staff.id %>

  <%= form.submit %>
  </div>
<% end %>
