<a class="d-block p-5 text-center text-white bg-primary b4b full-width">RECEIPT MENU</a>

<br><br>

<div class="row">
  <div class="col-md-6">
    <h1>Receipts</h1>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'New Receipt', new_receipt_path, class: 'btn btn-info new', :"data-turbolinks" => false %>
  </div>
</div>

<br><br>


<table  data-toggle="table"
        data-pagination="true"
        >
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Payment Method</th>
      <th>Description</th>
      <th>Price</th>
      <th>Date</th>
      <th data-width="100px"></th>
      <th data-width="100px"></th>
      <th data-width="100px"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.customer_name %></td>
        <td><%= receipt.payment_method %></td>
        <td><%= receipt.des %></td>
        <td><%= number_to_currency(receipt.price, unit: "฿") %></td>
        <td><%= receipt.date %></td>
        <td><%= link_to 'Print', receipt, class: 'btn btn-primary btn-block', :"data-turbolinks" => false %></td>
        <td><%= link_to 'Edit', edit_receipt_path(receipt), class: 'btn btn-warning btn-block', :"data-turbolinks" => false %></td>
        <td><%= link_to 'Delete', receipt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  


