
<h1>Receipts</h1>

<%= render 'form', receipt: @receipt %>


<div class="container">
<hr>

  <table  data-toggle="table"
          data-pagination="true"
          >
    <thead>
      <tr>
        <th>Nontrainer Package</th>
        <th>Trainer Package</th>
        <th>Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @receipts.each do |receipt| %>
        <tr>
          <% if receipt.nontrainer_package %>
            <td><%= receipt.nontrainer_package.price %></td>
          <% else %>
            <td>ไม่ได้ระบุ</td>
          <% end %>
          <% if receipt.trainer_package %>
            <td><%= receipt.trainer_package.price %></td>
          <% else %>
            <td>ไม่ได้ระบุ</td>
          <% end %>
          <td><%= receipt.date %></td>
          <td><%= link_to 'Print', receipt, class: 'btn btn-primary btn-block' %></td>
          <td><%= link_to 'Edit', edit_receipt_path(receipt), class: 'btn btn-warning btn-block' %></td>
          <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>


