<br><br><br><br><br> 

<style>
  body{
    background-color: gray;
  }
</style>   


<div class="card">
  <div class="card-block">

    <div class="row">
      <div class="col-6">
        <p>No: 69, Room: A5-A6,B6-B8 Chonlaprathan Rd, Tambon Su Thep, Amphoe Mueang Chiang Mai, Chang Wat Chiang Mai 50200</p>
        <p>Tel: 081 764 8701</p>
      </div>
      <div class="col-6 text-right">
        <p>Recipt #<%= @receipt.id %></p>
        <p>Customer Name: <%= @receipt.customer_name %></p>
        <p>Payment Method: <%= @receipt.payment_method %></p>
        <p>Recipt by: <%= @receipt.staff.user.firstname %></p>
        <p>Date: <%= @receipt.date %></p>

      </div>
    </div>

    <hr>
    <br>

    <div class="row">
      <div class="col text-center">
        <h3>Receipt</h3>
      </div>
    </div>

    <br><br>

    <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @receipt.des %></td>
              <td><%= number_to_currency(@receipt.price, unit: "฿") %></td>
            </tr>
          </tbody>
      </table>
    </div>

  </div>
</div>