<!DOCTYPE html>
<html>
  <head>
    <title>Powerhouse Fitness Center Chiang Mai</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body id="page-top">

    <a class="menu-toggle rounded" href="#" id="menu-toggle">
      <i class="fa fa-bars"></i>
    </a>

    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="<%= root_path %>" data-turbolinks="false">
            <i class="icon-home"></i> Home
          </a>
        </li>

        <% if user_signed_in? %>
          <li class="sidebar-nav-item">
            <%= link_to(destroy_user_session_path, :method => :delete, class: "js-scroll-trigger" ) do %> 
              <i class="icon-login"></i> Logout | 
              <% if current_user.staff %>
               <%= current_user.staff.position %>
               <% else %>
                Member
              <% end %>
            <% end %>
            
          </li>       
        <% else %>
          <li class="sidebar-nav-item">
            <%= link_to(new_user_session_path, class: "js-scroll-trigger", :"data-turbolinks" => false) do %> 
              <i class="icon-logout"></i> Login
            <% end %>
          </li> 
        <% end %>


        <% if current_user %>

          <% if current_user.role=="staff" %>

            <% if current_user.staff %>
              <% if current_user.staff.position!="Admin" %>

                <li class="sidebar-nav-item">
                  <a class="js-scroll-trigger" href="<%= serves_path %>" data-turbolinks="false">
                    <i class="icon-event"></i> Serve</a>
                </li>
                <li class="sidebar-nav-item">
                  <a class="js-scroll-trigger" href="<%= package_occupiedbies_path %>" data-turbolinks="false">
                    <i class="icon-heart"></i> Trainer Service</a>
                </li>
                <li class="sidebar-nav-item">
                  <a class="js-scroll-trigger" href="<%= bookings_path %>" data-turbolinks="false">
                    <i class="icon-book-open"></i> Booking</a>
                </li>
                <li class="sidebar-nav-item">
                  <a class="js-scroll-trigger" href="<%= new_receipt_path %>" data-turbolinks="false">
                    <i class="icon-wallet"></i> Receipt</a>
                </li>
              <% end %>

              <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="<%= report_path %>" data-turbolinks="false">
                  <i class="icon-note"></i> Report</a>
              </li>

            <% end %>

          <% end %>

          <% if current_user.role=="member" %>
              <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="<%= bookings_path %>" data-turbolinks="false">
                  <i class="icon-book-open"></i> Booking</a>
              </li>
          <% end %>

          <% if current_user.role=="staff" %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-settings"></i> Manage
              </a>
              <div class="dropdown-menu dropdown-menu-slidebar" aria-labelledby="navbarDropdownMenuLink">
                <% if current_user.staff.position!="Admin" %>
                  <a class="dropdown-item js-scroll-trigger" href="<%= announcements_path %>" data-turbolinks="false"> 
                    <i class="icon-action-redo"></i> Announcement</a>
                  <a class="dropdown-item js-scroll-trigger" href="<%= members_path %>" data-turbolinks="false">
                    <i class="icon-action-redo"></i> Member</a>
                  <a class="dropdown-item js-scroll-trigger" href="<%= packages_path %>" data-turbolinks="false">
                    <i class="icon-action-redo"></i> Package</a>
                <% else %>
                  <a class="dropdown-item js-scroll-trigger" href="<%= staffs_path %>" data-turbolinks="false">
                    <i class="icon-action-redo"></i> Staff</a>
                  <a class="dropdown-item js-scroll-trigger" href="<%= branches_path %>" data-turbolinks="false">
                    <i class="icon-action-redo"></i> Branch</a>
                <% end %>
              </div>
            </li>

          <% end %>

        <% end #end if current_user %>

      </ul>

    </nav>

    <div class="container" id="container">
      <%= yield %>
    </div>

  </body>
  
</html>

<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">Powerhouse Fitness Center Chiang Mai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

           <ul class="navbar-nav ml-auto">

             <% if current_user %>
              <% if current_user.role=="staff" %>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog"></span> Manage
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% if current_user.staff.position!="Admin" %>
                      <a class="dropdown-item" href="<%= announcements_path %>" data-turbolinks="false"><%= icon('bullhorn') %> Announcement</a>
                      <a class="dropdown-item" href="<%= members_path %>" data-turbolinks="false"><%= icon('user-o') %> Member</a>
                      <a class="dropdown-item" href="<%= packages_path %>" data-turbolinks="false"><%= icon('ravelry') %> Package</a>
                    <% else %>
                      <a class="dropdown-item" href="<%= staffs_path %>" data-turbolinks="false"><%= icon('user-circle-o') %> Staff</a>
                      <a class="dropdown-item" href="<%= branches_path %>" data-turbolinks="false"><%= icon('code-fork') %> Branch</a>
                    <% end %>
                  </div>
                </li>

              <% end %>
            <% end %>

            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to(destroy_user_session_path, :method => :delete, class: "nav-link") do %> 
                  <span class="glyphicon glyphicon-log-out"></span> Logout | 
                  <% if current_user.staff %>
                   <%= current_user.staff.position %>
                   <% else %>
                    Member
                  <% end %>
                <% end %>
                
              </li>       
            <% else %>
              <li class="nav-item">
                <%= link_to(new_user_session_path, class: "nav-link") do %> 
                  <span class="glyphicon glyphicon-log-in"></span> Login
                <% end %>
              </li> 
            <% end %>

          </ul>


        </div>
      </div>
    </nav> 

      <% unless notice.blank? %>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= notice %> 
        </div>
      <% end %>

      <div class="row">
      
        <% if current_user %>

        <div class="col-lg-3">
          <h1 class="my-4">Menu</h1>
          <div class="list-group">


                <% if current_user.role=="staff" %>

                  <% if current_user.staff %>
                    <% if current_user.staff.position!="Admin" %>
                      <a href="<%= serves_path %>" class="list-group-item list-group-item-action" data-turbolinks="false"><%= icon('street-view') %> Serve</a>
                      <a href="<%= package_occupiedbies_path %>" class="list-group-item list-group-item-action" data-turbolinks="false"><%= icon('heartbeat') %> Trainer Service</a>
                      <a href="<%= bookings_path %>" class="list-group-item list-group-item-action" data-turbolinks="false"><%= icon('calendar') %> Booking</a>
                      <a href="<%= receipts_path %>" class="list-group-item list-group-item-action" data-turbolinks="false"><%= icon('credit-card') %> Receipt</a>
                    <% end %>

                    <a href="<%= report_path %>" class="list-group-item list-group-item-action" data-turbolinks="false"><%= icon('book') %> Report</a>

                  <% end %>

                <% end %>

                <% if current_user.role=="member" %>
                    <a href="<%= bookings_path %>" class="list-group-item list-group-item-action" data-turbolinks="false"><%= icon('calendar') %> Booking</a>
                <% end %>




          </div>
        </div>

        <% end %>

      </div>  -->