<!DOCTYPE html>
<html>
  <head>
    <title>Powerhouse Fitness Center Chiang Mai</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Powerhouse Fitness Center Chiang Mai</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">

            <% if current_user %>

              <% if current_user.role=="staff" %>

                <% if current_user.staff %>
                  <% if current_user.staff.position!="Admin" %>
                    <li><a href="<%= serves_path %>" data-turbolinks="false"><%= icon('street-view') %> Serve</a></li>
                    <li><a href="<%= package_occupiedbies_path %>" data-turbolinks="false"><%= icon('heartbeat') %> Trainer Service</a></li>
                    <li><a href="<%= bookings_path %>" data-turbolinks="false"><%= icon('calendar') %> Booking</a></li>
                    <li><a href="<%= receipts_path %>" data-turbolinks="false"><%= icon('credit-card') %> Receipt</a></li>
                  <% end %>

                  <li><a href="<%= report_path %>" data-turbolinks="false"><%= icon('book') %> Report</a></li>

                <% end %>

              <% end %>

              <% if current_user.role=="member" %>
                  <li><a href="<%= bookings_path %>" data-turbolinks="false"><%= icon('calendar') %> Booking</a></li>
              <% end %>

            <% end %>

          </ul>
          <ul class="nav navbar-nav navbar-right">

            <% if current_user %>
              <% if current_user.role=="staff" %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span> Manage <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if current_user.staff.position!="Admin" %>
                      <li><a href="<%= announcements_path %>" data-turbolinks="false"><%= icon('bullhorn') %> Announcement</a></li>
                      <li><a href="<%= packages_path %>" data-turbolinks="false"><%= icon('ravelry') %> Package</a></li>
                      <li><a href="<%= members_path %>" data-turbolinks="false"><%= icon('user-o') %> Member</a></li>
                    <% else %>
                      <li><a href="<%= staffs_path %>" data-turbolinks="false"><%= icon('user-circle-o') %> Staff</a></li>
                      <li><a href="<%= branches_path %>" data-turbolinks="false"><%= icon('code-fork') %> Branch</a></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>

            <% if user_signed_in? %>
              <li>
                <%= link_to(destroy_user_session_path, :method => :delete) do %> 
                  <span class="glyphicon glyphicon-log-out"></span> Logout | 
                  <% if current_user.staff %>
                   <%= current_user.staff.position %>
                   <% else %>
                    Member
                  <% end %>
                <% end %>
                
              </li>       
            <% else %>
              <li>
                <%= link_to(new_user_session_path) do %> 
                  <span class="glyphicon glyphicon-log-in"></span> Login
                <% end %>
              </li> 
            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
       <% unless notice.blank? %>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= notice %> 
        </div>
      <% end %>

      <%= yield %>

    </div>

  </body>
  
</html>