<%= bootstrap_form_for(member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :member_id, label: "Member ID" %>
    
    <%= form.fields_for :user do |f| %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.text_field :firstname %>
      <%= f.text_field :lastname %>
      <%= f.text_field :phone %>
    <% end %>

    <%= form.collection_select :nontrainer_package_id, NontrainerPackage.select(:id, :name), :id, :name %>
    <%= form.date_select :start_date, id: :member_start_date %>
    <%= form.date_select :end_date, id: :member_end_date %>
    <%= form.number_field :freeze_count, id: :member_freeze_count %>

    <%= form.submit %>
<% end %>
