<%= bootstrap_form_for(member) do |form| %>

  <div class="row">
    <div class="col-2">
      <%= form.text_field :member_code %>
    </div>

    <div class="col-2">
    <%= form.collection_select :nontrainer_package_id, NontrainerPackage.all, :id, :name %> 
    </div>

    <div class="col-2">
    <%= form.number_field :freeze_count, min: 0, max: @freeze_time || 0, readonly: true %>
    </div>

    <div class="col-3">
    <%= form.date_field :start_date %>
      
    </div>
    <div class="col-3">
    <%= form.date_field :end_date %>
      
    </div>

  </div>

    
    <%= form.fields_for :user do |f| %>

    <div class="row">
      <div class="col-4">
      <%= f.email_field :email %>
        
      </div>
      <div class="col-4">
      <%= f.password_field :password %>
        
      </div>
      <div class="col-4">
      <%= f.password_field :password_confirmation %>
        
      </div>
    </div>

    <div class="row">
      <div class="col-4">
      <%= f.text_field :firstname %>
        
      </div>
      <div class="col-4">
      <%= f.text_field :lastname %>
        
      </div>
      <div class="col-4">
      <%= f.text_field :phone, minlength: 10, maxlength: 10 %>
        
      </div>
    </div>

      <%= f.hidden_field :role, value: 'member' %>

    <% end %>

    <br>

    <div class="row">
      <div class="col text-center">
        <%= form.submit nil, class: "btn btn-primary" %>
      </div>
    </div>

<% end %>
