<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @package_occupiedby.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @package_occupiedby.end_date %>
</p>

<p>
  <strong>Balance session:</strong>
  <%= @package_occupiedby.balance_session %>
</p>

<p>
  <strong>Trainer package:</strong>
  <%= @package_occupiedby.trainer_package %>
</p>

<p>
  <strong>Member:</strong>
  <%= @package_occupiedby.member_id %>
</p>

<%= link_to 'Edit', edit_package_occupiedby_path(@package_occupiedby) %> |
<%= link_to 'Back', package_occupiedbies_path %>
